<div class="popover form__wrapper">
  <button type="button" class="edit-button"><span class="edit-button__icon"></span><span class="add-button__name">Добавить пользователя</span></button>
  <button type="button" class="edit-button "><span class="edit-button__icon delete-icon"></span><span class="add-button__name">Удалить пользователя</span></button>
</div>
