<div class="input__field">
  <label class="input__wrapper">
    <input class="input {{class}}" type="{{type}}" name="{{name}}" required />
    <span class="input__placeholder">{{placeholder}}</span>
  </label>
</div>

