{{!< layout}}

<div class="center">
  <div class="form-wrapper register">
    <form action="">
      <h4 class="register__title">Регистрация</h4>
      <div class="register__fields">
        {{> input/input  type="email" name="email" placeholder="Почта"}}
        {{> input/input  type="text" name="login" placeholder="Логин"}}
        {{> input/input type="text" name="first_name" placeholder="Имя"}}
        {{> input/input  type="text" name="second_name" placeholder="Фамилия"}}
        {{> input/input  type="tel" name="phone" placeholder="Телефон"}}
        {{> input/input  type="password" name="password" placeholder="Пароль"}}
        {{> input/input  type="password" name="password" placeholder="Пароль (ещё раз)"}}
      </div>
      {{> button/button  type="submit" text="Зарегистрироваться"}}
      {{> link/link  href="../Chat/Chat.hbs" text="Войти"}}
    </form>
  </div>
</div>