{{!< layout}}

<div class="center">
  <section class="form__wrapper register">
    <form action="">
      <h4 class="register__title">Регистрация</h4>
      <div class="register__fields">
        {{#each registerInput}}
          {{> input/input this}}
        {{/each}}
      </div>
      {{> button/button type="submit" text="Зарегистрироваться"}}
      {{> link/link href="../Chat/Chat.hbs" text="Войти"}}
    </form>
  </section>
</div>
