<div class="center">
  <section class="form__wrapper register">
    <form action="">
      <h4 class="register__title">Регистрация</h4>
      <div class="register__fields">
        {{#each registerInputs}}
          {{{this}}}
        {{/each}}
      </div>
      {{{button}}}
      {{{link}}}
    </form>
  </section>
</div>
