{{!< layout}}

<section class="chat">
  <div class="chat-sidebar">
    <div class="chat-link__container">
      <a class="chat-link" href="../Profile/Profile.hbs">Профиль</a>
    </div>
    {{> searchInput/searchInput}}
    <div class="chat-list">
      {{#each chatList}}
        {{> chatItem/chatItem this}}
      {{/each}}
    </div>
  </div>
  <div class="chat-content">
    {{> popover/popover}}
    <div class="chat-content__header">
      <div class="chat-content__header-info">
        <div class="chat-content__header-avatar small-avatar">
          {{#if src}}<img src="{{src}}" alt="Avatar" /> {{/if}}
        </div>
        <h5 class="chat-content__header-name">Вадим</h5>
      </div>
      <button class="button chat-content__header-button">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </button>
    </div>
    <div class="chat-content__main">
      <p class="chat-content__main-date">19 june</p>
      {{#each chatMessageList}}
        {{> chatMessage/chatMessage this}}
      {{/each}}
    </div>
    <div class='chat-content__footer'>
      <form class='message__form' action=''>
        {{> attachmentInput/attachmentInput}}
        {{> messageInput/messageInput}}
        {{> buttonArrow/buttonArrow type="submit" class="arrow-reverse"}}

      </form>
    </div>
  </div>

</section>
