{{!< layout}}

<section class="chat">
  <div class="chat-sidebar">
    <div class="chat-link__container">
      <a class="chat-link" href="../Profile/Profile.hbs">Профиль</a>
    </div>
    {{> searchInput/searchInput}}
    <div class="chat-list">
      {{#each chatList}}
        {{> chatItem/chatItem this}}
      {{/each}}
    </div>
  </div>
  <div class="chat-content center">
    <p class="chat-content__info">Выберите чат чтобы отправить сообщение</p>
  </div>
</section>
