<label class="popup__upload" for="avatar">
  <span class="link popup__upload-text">Выбрать файл на компьютере</span>
  <input type="file" name="avatar" class="popup__upload-input" id="avatar">
</label>
