{{!< layout}}

<section class="profile">
  {{> linkToChat/linkToChat}}
  <div class="profile__container center">
    {{> avatar/avatar class="avatar-edit"}}
    <form class="profile__form" action="">
      <div class="profile__fields">
        {{#each editPasswordInput}}
          {{> input/input this}}
        {{/each}}
      </div>
      {{> button/button class="profile__button" type="submit" text="Сохранить"}}
    </form>
  </div>
</section>
