{{!< layout}}

<section class="profile">
  {{> linkToChat/linkToChat}}
  <div class="profile__container center">
    {{> avatar/avatar}}
    <h5 class="profile__name">Татьяна</h5>
    <form class="profile__form" action="">
      <div class="profile__fields">
        {{#each profileInput}}
          {{> input/input this}}
        {{/each}}
      </div>
      <div class="profile__links">
        {{> link/link class="profile__link" href="./EditInfo.hbs" text="Изменить данные"}}
        {{> link/link class="profile__link" href="./EditPassword.hbs" text="Изменить пароль"}}
        {{> link/link class="profile__link link-danger" href="../Auth/Auth.hbs" text="Выйти"}}
      </div>
    </form>
  </div>
</section>



