<div class="popup center">
  <div class="overflow">
    <div class="popup__wrapper form__wrapper">
      <form class="create-chat__form">
        <h4 class="popup__title">Введите название чата</h4>
        {{{input}}}
        {{{button}}}
        {{{closeButton}}}
      </form>
    </div>
  </div>
</div>
