@import "./global.pcss";

@import "../pages/Auth/auth.pcss";
@import "../pages/Register/register.pcss";

@import "../components/link/link.pcss";
@import "../components/button/button.pcss";
@import "../components/errorPageContent/errorPageContent.pcss";
@import "../components/input/input.pcss";
@import "../components/errorMessage/errorMessage.pcss";