$txt-primary: #1e1e1e;
$txt-secondary: #999;

$blue: #3369f3;
$danger: #ff2f2f;
$white: #fff;

$line: #eaeaea;
$fill-dark-grey: #efefef;
$fill-light-grey: #fbfbfb;
$fill-light-blue: #e4edfd;

$shadow: rgb(0 0 0 / 14%);