<div class="popup center">
  <div class="overflow">
    <div class="popup__wrapper form__wrapper">
      <form class="add-user-to-chat__form">
        <h4 class="popup__title">Список участников чата</h4>
        <ul class="user-item__list">
          {{#each userList}}
            {{{this}}}
          {{/each}}
        </ul>
        {{{closeButton}}}
        {{{errorMessage}}}
      </form>
    </div>
  </div>
</div>
