<div class="chat-content__header">
  {{{popoverEditUser}}}
  <div class="chat-content__header-info">
    <div class="chat-content__header-avatar small-avatar">
    </div>
    <h5 class="chat-content__header-name">{{title}}</h5>
  </div>
  <button class="button chat-content__header-button">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </button>
</div>
