.message-item {
  max-width: 50%;
  font: 500 12px/150% Inter, sans-serif;
  border-radius: 12px;
  background-color: $fill-dark-grey;
  margin-bottom: 10px;
  padding: 11px;

  &.mine {
    align-self: flex-end;
    background-color: $fill-light-blue;
  }

  &__time {
    font-size: 9px;
    text-align: right;
    color: $txt-secondary;
  }
}
