<section class="profile">
  {{{linkToChat}}}
  <div class="profile__container center">
    {{{avatar}}}
    <form class="profile__form" action="">
      <div class="profile__fields">
        {{#each editInfoInputs}}
          {{{this}}}
        {{/each}}
      </div>
      {{{button}}}
    </form>
  </div>
</section>
