<section class="profile">
  <a class="link-back" href="/chat">
    {{{buttonArrow}}}
  </a>
  <div class="profile__container center">
    {{{avatar}}}
    <form class="profile__form" action="">
      <div class="profile__fields">
        {{#each editInfoInputs}}
          {{{this}}}
        {{/each}}
      </div>
      {{{button}}}
    </form>
  </div>
</section>
