<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Messenger</title>
  <link rel="stylesheet" href='./styles/index.pcss' />
</head>
<body>
<main id="root">
  <nav>
    <ul class="center">
      <li><a href="./pages/Auth/Auth.hbs">Вход</a></li>
      <li><a href="./pages/Register/Register.hbs">Регистрация</a></li>
      <li><a href="./pages/Chat/Chat.hbs">Чаты</a></li>
      <li><a href="./pages/Profile/Profile.hbs">Профиль</a></li>
      <li><a href="./pages/404/404.hbs">404</a></li>
      <li><a href="./pages/500/500.hbs">500</a></li>
    </ul>
  </nav>
</main>
</body>
</html>
