<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Messenger</title>
  <link rel="stylesheet" href="../../styles/index.pcss" />
</head>
<body>
<main id="root">
  {{{body}}}
</main>
</body>
</html>
